ConnectionStringName=MetaDataDBContainer
ConnectionString=metadata=res://*/Model.MetaDataBD.csdl|res://*/Model.MetaDataBD.ssdl|res://*/Model.MetaDataBD.msl;provider=System.Data.SqlClient;provider connection string="data source=GREEDYJACKPC\KOMPOSQLSERVER;initial catalog=MetaDB;user id=admin;password=admin;MultipleActiveResultSets=True;App=EntityFramework"
ConnectionStringProvider=System.Data.EntityClient